.top-section {
    width: 100%;
    height: 150px;
    position: fixed;
    background-color: white;
}

.navigation-bar {
    vertical-align: middle;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
    font-family: Heebo;
}

a {
    text-decoration: none;
    color: black;
}

#full-name {
    display: inline-block;
    font-size: 30px;
    margin-top: 100px;
    margin-right: 1000px;
}

.nav {
    margin-right: 50px;
}

.bottom-section {
    text-align: center;
    padding-top: 170px;
    background-color: aliceblue;
}

.about-description {
    text-align: left;
}

#about-me {
    margin-left: 400px;
}

.about-me-description {
    width: 500px;
    margin-left: 280px;
}

.skills-section {
    text-align: center;
}

#skills {
    margin-right: 40px;
    margin-top: 0;
}

.certain-skills-section {
    width: 500px;
    height: 250px;
    margin-left: 1100px;
}

.certain-skill {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    margin-top: 15px;
    margin-right: 10px;
    background-color: rgb(221, 217, 217);
}